<!doctype html>
<html lang="ko">

<head>
    <!-- Webpage Title -->
    <title>Shoppingmall</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <!-- Google Font : Do Hyeon -->
    <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans&display=swap" rel="stylesheet">

    <style>
        * {
            font-family: 'Black Han Sans', sans-serif;
        }

        /* Block of the same size -> Left alignment */
        .box {
            width: 550px;
            display: block;
            margin: 10px auto;
        }

        .font-h1 {
            font-size: xx-large
        }

        .font-h5 {
            font-size: medium;
        }

        /* Flex class -> Central alignment */
        .box-center {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: auto auto 50px;
        }
    </style>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#order-list').html('');
            listing();
        });

        function order_make() {
            // 입력값을 변수에 저장
            let name = $('#input-name').val()
            let amount = $('#input-amount').val()
            let address = $('#input-address').val()
            let phone = $('#input-phone').val()

            // 입력값이 없을 경우, alert + focus 설정
            if (name == "") {
                alert("주문자 이름을 입력해주세요!")
                $('#input-name').focus()
                return
            }
            else if (amount == "-- 수량을 선택하세요 --") {
                alert("수량을 입력해주세요!")
                $('#input-amount').focus()
                return
            }
            else if (address == "") {
                alert("주소를 입력해주세요!")
                $('#input-address').focus()
                return
            }
            else if (phone == "") {
                alert("전화번호를 입력해주세요!")
                $('#input-phone').focus()
                return
            }

            // 휴대폰번호에 정규표현식 적용 (***-****-****)
            let patt = new RegExp("[0-9]{2,3}-[0-9]{3,4}-[0-9]{3,4}")
            if (!patt.test($("#input-phone").val())) {
                alert("전화번호를 (***-****-****) 형식으로 입력해주세요!")
                return false
            }

            // orders 경로로 POST 요청 (data를 api형식에 맞게 설정)
            $.ajax({
                type: 'POST',
                url: '/orders',
                data: { 'name_give': name, 'amount_give': amount, 'address_give': address, 'phone_give': phone },
                success: function (response) {
                    if (response['result'] == 'success') {
                        alert(response['msg']);
                        window.location.reload();
                    }
                }
            });
        }

        function order_rm() {
            // 화면에 보여지는 리스트 삭제
            $('#order-list').empty('')

            // DB 데이터 삭제 (새로고침 후에도 전체삭제)
            $.ajax({
                type: "POST",
                url: "/delete",
                success: function (response) {
                    if (response['result'] == 'success') {
                        alert(response['msg']);
                    }
                }
            });
        }

        // orders 경로로 GET 요청
        function listing() {
            $.ajax({
                type: "GET",
                url: "/orders",
                data: {},
                success: function (response) {
                    if (response['result'] == 'success') {
                        let orders = response['orders']
                        // 정상일 때 데이터를 순서대로 화면에 출력
                        for (let i = 0; i < orders.length; i++) {
                            let name = orders[i]['name']
                            let amount = orders[i]['amount']
                            let address = orders[i]['address']
                            let phone = orders[i]['phone']
                            make_table(name, amount, address, phone)
                        }
                    } else {
                        alert('데이터를 받아오지 못했습니다');
                    }
                }
            });
        }

        // DB에서 가져온 data를 화면에 출력
        function make_table(name, amount, address, phone) {
            let temp_list = '<tr>\
                            <th scope="row">' + name + '</th>\
                            <td>' + amount + '</td>\
                            <td>' + address + '</td>\
                            <td>' + phone + '</td>\
                            </tr>';
            $('#order-list').append(temp_list)
        }

    </script>

</head>

<body>
    <!-- 상품 사진 -->
    <img class="box" src="https://ccimg.hellomarket.com/images/2019/item/10/07/07/2405_1773432_1.jpg?size=s6">

    <!-- 상품 제목 / 가격 -->
    <span class="box">
        <span class="font-h1">MacBook 팝니다 </span>
        <span class="font-h5"> 가격:1,200,000원 / 개</span>
    </span>

    <!-- 상품 내용 -->
    <div class="box">
        <p>언박싱은 아니지만... 딱 일주일 사용해서 거의 새제품이나 다름없는 맥북입니다. 상태는 당연히 최상급이구요~ 반품은 일주일 이내에만 가능하니 신중하게 주문 해주세요!</p>
    </div>

    <div class="box">
        <!-- 주문자 성함 -->
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">주문자 이름</span>
            </div>
            <input id="input-name" type="text" class="form-control" aria-label="Default"
                aria-describedby="inputGroup-sizing-default">
        </div>

        <!-- 수량 -->
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">수량</label>
            </div>
            <select id="input-amount" class="custom-select" id="inputGroupSelect01">
                <option selected>-- 수량을 선택하세요 --</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>

        <!-- 주소 -->
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">주소</span>
            </div>
            <input id="input-address" type="text" class="form-control" aria-label="Default"
                aria-describedby="inputGroup-sizing-default">
        </div>

        <!-- 전화번호 -->
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">전화번호</span>
            </div>
            <input id="input-phone" name="input-phone" type="text" class="form-control" aria-label="Default"
                aria-describedby="inputGroup-sizing-default" placeholder="***-****-****"
                pattern="[0-9]{2,3}-[0-9]{3,4}-[0-9]{3,4}" maxlength="13">
        </div>
    </div>

    <!-- 주문하기 버튼 -->
    <div class="box-center">
        <span>
            <a onclick="order_make()" class="btn btn-primary" href="#" role="button">주문하기</a>
            <a onclick="order_rm()" class="btn btn-warning" href="#" role="button">전체삭제</a>
        </span>
    </div>

    <!-- 주문 리스트 -->
    <div class="box">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">이름</th>
                    <th scope="col">수량</th>
                    <th scope="col">주소</th>
                    <th scope="col">전화번호</th>
                </tr>
            </thead>
            <!-- DB data -->
            <tbody id="order-list">

            </tbody>
        </table>
    </div>

</body>

</html>